
html{
    background-color: orange;
}

form{
    padding: 6rem;
    background-color: orange;
}

h1{
    color: rebeccapurple;
}

footer{
    background-color: orange;
}

footer p{
    color: orange;
}